<!--The content below is only a placeholder and can be replaced.-->
  <header>
    <div class="row">
      <div class="logo">
        <img src="/assets/logo.png">
      </div>
      <ul class="main-nav">
      <li class="active"><a href="">HOME</a></li>
      <li><a href="">SERVICES</a></li>
      <li><a href="">ABOUT</a></li>
      <li><a href="">CONTACT</a></li>
      <li><a href="">NEWS</a></li>
      <li><a href="">FAQ</a></li>
      </ul>
    </div>
    <div class="heroine">
      <h1> Are you ready?</h1>
      <div class="button" style="text-align: center;">
        <a href="" class="btn btn-one">Watch Video</a>
        <a href="" class="btn btn-two">Explore More</a>
      </div>
    </div>
  </header>

<router-outlet></router-outlet>

